body {
    width: 100%;
    // @media(min-width: 800px) {
    //     width: 800px;
    // }
}

.card {
    border: 1px solid red;
}

article {
    display: none;
}

#main article {
    display: none;
}

#main .change {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    background-color: rgba(65, 65, 65, 0.6);
}