#wrapper{
    margin: 0 auto;
    position: relative;
//     min-height: 100%;
//     width: 100%;
//     padding: 4px 2px;
    z-index: 3;
}

#main {
    .main{
        width: 300px;
    }
    
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    background-color: black;
    opacity: .7;
    color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    .inner {
        display: flex;
        justify-content: center;
        color: white;
        padding: 10px 40px;
        width: 75%;
        flex-wrap: wrap;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        h1 {
            width: 100%;
            text-align: center;
        }
        p {
            color: white;
            opacity: 1;
            text-align: center;
        }
    }
}

// .content::after {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background-color: grey;
// }
// nav::after {
//     .content::after {
//         content: "";
//         display: block;
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         left: 0;
//         background-color: grey;
// }


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(65, 65, 65, 0.3);
    // height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }